@use '../base/variables'as *;

@media (max-width: 320px) {
    .card {
        font-size: rem(14px);
    }
}

@media (min-width: 376px) {
    .bg-image {
        background-image: url('../../images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        z-index: -1;
    }
}